.git/
.gitignore
.gitattributes
**/*.ts
**/tsconfig.json
**/.eslintrc.json
**/*.map
.nyc_output
coverage
**/*.nyc
node_modules/
.vscode-test/
.vscode/
src/
test/
tests/
.github/
.DS_Store
**/*.test.*
**/*.spec.*
*.md
!README.md
.env*
vitest.config.*
.turbo/
*.log
dist/**/*.map
../../*
